#overlay {
	height: 100%;
	width: 100%;
	background-color: #fff;
	position: fixed;
	z-index:  9999;
}

.gameover { 
	display: block;
}

.gameon {
	display: none;
}

.answer-text {
	font-size: 18px;
	margin: 0;
	margin-top: 10px;
}

.stadium-name {
	font-weight: bold;
	margin-bottom: 0;
}

.share-string {
	font-family: monospace;
	font-size: 16px;
	margin: 0;
}

.location {
	margin: 0;
	margin-top: 0;
	font-weight: lighter;
}

.container {
	margin:  0 auto;
	max-width: 500px;
	font-family: Roboto;
}

.page-title, .subtitle {
	text-align: left;
}

.page-title {
	font-size: 24px;
	margin-bottom: 0px;
}

.subtitle {
	font-size: 16px;
	margin-top: 0;
	font-weight: lighter;
}

.guess-container {
	position: relative;
}

.image-holder {
	max-width: 100%;
	height: auto;
} 

.stadium-image {
	width: 100%;
}

.icon-container {
	display: flex;
	gap:  20px;
}

.explainer {
	text-transform: lowercase;
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 5px;
}

.enumerate {
	font-weight: lighter;
	margin-left: 3px;
}

.hint {
	font-weight: lighter;
	font-size: 18px;
	margin-top: 0px;
}

.hidden {
	visibility: hidden;
}

.tries, .hints {
	margin: 0;
}

.not-revealed {
	color:grey;
	filter: grayscale(100%);
}

/* Overrides awesomplete CSS */
.awesomplete > ul {
  position: absolute;
  margin: 0;
  background-color: red;
  margin-top: 10px;
}


.visually-hidden {
	display: none;
}

/* Swiper CSS */
.swiper {
  width: 450px;
  height: 300px;
}
