#overlay {
	height: 100%;
	width: 100%;
	background-color: #fff;
	position: fixed;
	z-index:  9999;
}

.gameover { 
	display: block;
}

.gameon {
	display: none;
}

.answer-text {
	font-size: 18px;
	margin: 0;
	margin-top: 10px;
}

.stadium-name {
	font-weight: bold;
	margin-bottom: 0;
}

.share-string {
	font-family: monospace;
	font-size: 16px;
	margin: 0;
}

.location {
	margin: 0;
	margin-top: 0;
	font-weight: lighter;
}

.container {
	margin:  0 auto;
	max-width: 350px;
	font-family: Roboto;
}

.page-title, .subtitle {
	text-align: left;
}

.page-title {
	font-size: 24px;
	margin-bottom: 0px;
}

.subtitle {
	font-size: 16px;
	margin-top: 0;
	font-weight: lighter;
}

.guess-container {
	position: relative;
}

.image-holder {
	max-width: 100%;
	text-align: left;
	height: auto;
} 

.stadium-image {
	max-width: 350px;
	min-width: 250px;
	min-height: 250px;
}

.icon-container {
	display: flex;
	gap:  20px;
}

.explainer {
	text-transform: lowercase;
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 5px;
}

.enumerate {
	font-weight: lighter;
	margin-left: 3px;
}

.hint {
	font-weight: lighter;
	font-size: 18px;
	margin-top: 0px;
}

.hidden {
	visibility: hidden;
}

.tries, .hints {
	margin: 0;
}

.revaled {
	display: block;
}

.concealed {
	display: none;
}

/* Overrides awesomplete CSS */
.awesomplete > ul {
  position: absolute;
  margin: 0;
  background-color: #fff;
  opacity: 95%;
  border-width: 1px;
  border-color: #000;
  border-style: solid;
  margin-top: 10px;
}

.awesomplete>ul {
  list-style-type: none;
  padding: 5px;
}

.awesomplete>ul>li {
	padding: 5px;
}

.awesomplete>ul>li[aria-selected=true]>mark {
  background-color: #d5e1e7;
}

.awesomplete>ul>li[aria-selected=true],
.awesomplete>ul>li:hover {
  background-color: #d5e1e7;
  color: black;
}

.awesomplete>ul>li[aria-selected=true]>mark,
.awesomplete>ul>li:hover>mark {
  background-color: #3f89af;
}


.visually-hidden {
	display: none;
}
