/* When help is active/inactive */

.helper {
	height: 100%;
	width: 100%;
	font-weight: lighter;
	position: fixed;
	z-index: 9999;
	background-color: #fff;
	max-width: 350px;
}

.awesomplete {
	width: 150px;
}

.helper.help-inactive {
	display: none;	
}

.button-container {
	display:  flex;
	margin-left: auto;
	align-items: center;
	justify-content: flex-end;
}

.how {
	height: 25px;
	justify-content: flex-end;
	background-color: #fff;
	border-color: #000;
	border-style: solid;
	border-width: 1px;
  cursor:pointer;
}

.how.help-inactive:after {
	content: '?';
}

.how.help-active:after {
	content: 'x';
}


/* When the game is over */

#overlay {
	height: 100%;
	width: 100%;
	max-width: 350px;
	background-color: #fff;
	position: fixed;
	z-index:  9999;
}

#overlay.gameover { 
	display: block;
}

#overlay.gameon {
	display: none;
}

.icon-container.gameover {
	display: none;
}

.hint-container.gameover {
	display:  none;
}

/* Basic structure */


.header { 
	display: flex;
	gap: 60px;
}


.answer-text {
	font-size: 18px;
	margin: 0;
	margin-top: 10px;
}

.stadium-name {
	font-weight: bold;
	margin-bottom: 0;
}

.share-string {
	font-family: monospace;
	font-size: 16px;
	margin: 0;
	margin-top: 15px;
}

.location {
	margin: 0;
	margin-top: 0;
	font-weight: lighter;
}

.container {
	margin:  0 auto;
	max-width: 350px;
	font-family: Roboto;
}


.text-container {
	display:  flex;
	flex-direction: column-reverse;
}

.page-title, .subtitle {
	text-align: left;
}

.page-title {
	font-size: 24px;
	margin-bottom: 0px;
}

.subtitle {
	font-size: 16px;
	margin-top: 0;
	font-weight: lighter;
}

.guess-container {
	position: relative;
}

.image-holder {
	max-width: 100%;
	text-align: left;
	height: auto;
} 

.stadium-image {
	max-width: 350px;
	min-width: 250px;
	min-height: 250px;
}

.icon-container {
	display: flex;
	gap:  20px;
}

.explainer {
	text-transform: lowercase;
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 5px;
}

.enumerate {
	font-weight: lighter;
	margin-left: 3px;
}

.hint {
	font-weight: lighter;
	font-size: 18px;
	margin-top: 0px;
}

.hidden {
	visibility: hidden;
}

.tries, .hints {
	margin: 0;
}

.revaled {
	display: block;
}

.concealed {
	display: none;
}


/* Overrides awesomplete CSS */
.awesomplete {
	font-size: 16px;
}


.awesomplete > ul {
  position: absolute;
  margin: 0;
  background-color: #fff;
  opacity: 95%;
  border-width: 1px;
  border-color: #000;
  border-style: solid;
  margin-top: 10px;
}

.awesomplete>ul {
  list-style-type: none;
  padding: 5px;
}

.awesomplete>ul>li {
	padding: 5px;
}

.awesomplete>ul>li[aria-selected=true]>mark {
  background-color: #d5e1e7;
}

.awesomplete>ul>li[aria-selected=true],
.awesomplete>ul>li:hover {
  background-color: #d5e1e7;
  color: black;
}

.awesomplete>ul>li[aria-selected=true]>mark,
.awesomplete>ul>li:hover>mark {
  background-color: #3f89af;
}


.visually-hidden {
	display: none;
}




/**
 * Tooltip Styles https://chrisbracco.com/a-simple-css-tooltip/

 */

.copyme-btn {
	margin-top: 50px;
  display: inline-block;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  padding: 10px 10px 10px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  transition: transform 200ms,background 200ms;
  background: transparent;
  color: #000000;
}  

.copyme-btn:hover {
      transform: translateY(-2px);
  }           


/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: 110%;
  padding: 3px;
  background-color: #000;
  min-width: 60px;
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}


/* Show tooltip content on hover */
[data-tooltip].justclicked:before,
 [data-tooltip].justclicked:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}