# name: updater

# on:
#   schedule:
#     - cron: "*/5 * * * *" #runs every 5 minutes

# jobs:
#   build:
#     runs-on: ubuntu-latest

#     steps:
#       - name: checkout repo content
#         uses: actions/checkout@v2
#       - name: setup python
#         uses: actions/setup-python@v2
#         with:
#           python-version: 3.8
#       - uses: BSFishy/pip-action@v1
#         with:
#           packages: |
#             requests
#             pandas
#       - name: execute py script
#         run: python ./update.py
#       - name: Commit files
#         run: |
#           git config --local user.name "rob.ooo"
#           git config --local user.email "<>"
#           git add csv img last-updated.txt
#           git commit -m "Automatic update"
#           git push
